.btn.no-text .fa.fa-v {
    background-image: url('data:image/svg+xml;utf8,<svg width="31px" height="32px" viewBox="0 0 31 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-155.000000, -24.000000)" fill="#919191"><g><g transform="translate(155.000000, 24.000000)"><path d="M1.26841807,31.6233838 C0.4977775,31.1534238 0.0269650363,30.3144641 0.0259962864,29.409548 L1.49670949e-06,2.59541237 C-0.000967253215,1.69033421 0.468392085,0.850240178 1.23838682,0.378983725 C2.00822009,-0.091948617 2.96712106,-0.126304314 3.7684387,0.288881047 L11.8413547,4.47233542 C13.1092869,5.12914505 13.6062556,6.69330161 12.9517036,7.9655968 C12.2971516,9.2382161 10.7390788,9.73702194 9.4711466,9.08005025 L5.17070422,6.85162952 L5.18862609,25.1445799 L22.7945258,15.984411 L19.1586458,14.1001955 C17.8908751,13.4433859 17.3939064,11.8792293 18.048297,10.6069341 C18.702849,9.33431482 20.2609218,8.83534693 21.528854,9.49248067 L29.60177,13.675773 C30.4597596,14.1204524 30.9991918,15.0083527 30.9999991,15.9776047 C31.0008064,16.9468567 30.4629887,17.8355673 29.6054836,18.2817052 L3.79814704,31.709111 C3.42469394,31.9034151 3.01685022,32 2.60949088,32 C2.14384508,32 1.67932949,31.8739211 1.26841807,31.6233838 Z"></path></g></g></g></g></svg>');
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
}

.v-widget {
	position: relative;
	min-width: 100%;

	.v-qrcode {
		margin: 20px auto;
	}

	.v-player {
		width: 100%;

		.v-player-progress {
			opacity: 0;
			transition: opacity .3s;
		}

		&:hover .v-player-progress {
			opacity: .6;
		}

		.v-player-progress-time {
			display: none;
		}

        .v-player-video-el {
            max-width: none;
            max-height: none;
        }
	}
}

.v-widget--placeholder {
    background-image: url('data:image/svg+xml;utf8,<svg width="31px" height="32px" viewBox="0 0 31 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-155.000000, -24.000000)" fill="#000"><g><g transform="translate(155.000000, 24.000000)"><path d="M1.26841807,31.6233838 C0.4977775,31.1534238 0.0269650363,30.3144641 0.0259962864,29.409548 L1.49670949e-06,2.59541237 C-0.000967253215,1.69033421 0.468392085,0.850240178 1.23838682,0.378983725 C2.00822009,-0.091948617 2.96712106,-0.126304314 3.7684387,0.288881047 L11.8413547,4.47233542 C13.1092869,5.12914505 13.6062556,6.69330161 12.9517036,7.9655968 C12.2971516,9.2382161 10.7390788,9.73702194 9.4711466,9.08005025 L5.17070422,6.85162952 L5.18862609,25.1445799 L22.7945258,15.984411 L19.1586458,14.1001955 C17.8908751,13.4433859 17.3939064,11.8792293 18.048297,10.6069341 C18.702849,9.33431482 20.2609218,8.83534693 21.528854,9.49248067 L29.60177,13.675773 C30.4597596,14.1204524 30.9991918,15.0083527 30.9999991,15.9776047 C31.0008064,16.9468567 30.4629887,17.8355673 29.6054836,18.2817052 L3.79814704,31.709111 C3.42469394,31.9034151 3.01685022,32 2.60949088,32 C2.14384508,32 1.67932949,31.8739211 1.26841807,31.6233838 Z"></path></g></g></g></g></svg>');
    background-size: 100px 100px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
    width: 200px;
    height: 200px;
    font: 21px/24px Arial;
    color: #000;
    text-align: center;
    padding-top: 152px;
    box-sizing: border-box;

    &:after {
        content: 'QR Widget';
    }

    .btn-danger {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
    }
}